
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #369e55;
    color: #333;
}

header {
    background-color: #18b825;
    color: #fff;
    padding: 1rem 0;
    top: 0;
    z-index: 1000;
}
nav{
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-links{
list-style: none;
display: flex;
gap: 20px;

}
.nav-links a{
color: #fff;
text-decoration: none;
font-weight: bold;

}
.nav-links a:hover{
    color: #ff6347;
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #5d7b83;
    align-items: center;
    text-align: center;
    color: #231818;
}
.hero-content h1 {
font-size: 3rem;
margin-bottom: 10px;
color: #ff4500;


}
.hero-content p {
    font-size: 1.6rem;
    margin-bottom:0;
color: #fff;
}
.hero-content h3:hover{
    
    color: #ff6347;
}
.hero-content button{
    color: #18b825;
}


.btn{
background-color: #ff6347;
color: #fff;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
transition:background-color 0.3s;
 
}
.hero-content img{
    width: 25%;
    height: 100%;
    padding: 10px;
    border-radius: 10%;


}


.about{
padding: 50px 50px;
text-align: center;
background-color: #774062;

}
.about h2{
font-size: 2rem;
margin-bottom: 20px;
color: #369e55;
}
.about p{
    max-width: 800px;
    margin: 0 auto;
    color: aliceblue;
}
.projects{
    padding: 20px 20px 20px; 
    background-color: #a3873a;
    margin: 20px 0 0 30px;
}

.projects h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;

}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5px;
    max-width: 1200px;
    margin: 0,auto;
}
.project-card{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.projects-grid img{
    width: 40%;
    border-radius: 10px;

}

.contact{
    padding: 50px 20px;
background-color: #19755a;
}
.contact h2{
    text-align: center;
    font-size: 2rem;
margin-bottom: 20px;
color: #ff4500;
}
#contact-form{
max-width: 600px;
margin: 0 auto;
display: flex;
flex-direction: column;
gap: 15px;
}
#contact-form input,
#contact-form textarea{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;

}
#contact-form button {
background-color: #ff6347;
color: #fff;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}
#contact-form button:hover{
    background-color: #ff4500;
}
.github{
background-color: #ff6347;
color: #fff;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
transition:background-color 0.3s;}



footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}
.social-links{
    margin-top: 10px;

}
.social-links a{
    margin: 0 10px;
    font-size: 1.2rem;
    transition:color 0.3s;
color: #fff;
}
.social-links button{
    gap: 100px;
    padding: auto;
    color: #18b825;
}
.social-links button:hover{

    color: #ff6347;
}


